/* タブレット向けレイアウト */


@media (max-width:1000px) {
    
    .contents-item　img{
      width:50%;
      margin-bottom:50px;
    }
    
  }

  @media (max-width:670px) {
    
    .contents-item{
      width:100%;
    }

    footer{
        text-align:center;
      }
      
      
    }

    .button{
        width:100%;
      }
    
  /* .top-wrapperの中身を左寄せに、padding-topを130pxに指定してください */
   
    .copy-container{
        font-weight: bold;
    }

    .copy-container h2{
        font-size:24px;
      }
      
    
      .copy-container p{
        font-size:30px;
      }
      
    }

